.table
  width 100%

.row
  &:nth-child(odd)
    background-color #edfaff
  &:nth-child(even)
    background-color #f8fdff

.cell
  padding 8px 12px
  border-top 1px #ffffff solid
  &[data-left]
    text-align left
  &[data-center]
    text-align center
  &[data-right]
    text-align right

.cell__compact
  padding-top 3px
  padding-bottom 3px

.center
  text-align center

.action
  margin 0 6px

.overlay
  width 100%
  height 100%
  position fixed
  top 0
  left 0
  background rgba(255, 255, 255, 0.5)
  display flex
  align-items center
  justify-content center

.popup
  background rgba(255, 255, 255, 0.91)
  border 1px solid #f5f5f5
  width 300px
  padding 0 20px 20px

.input
  display block
  width 100%
  margin-top 20px
  padding 6px 12px
  box-sizing border-box
  &[data-error]
    color: #a94442
    border-color #a94442
    background-color #f2dede

.button
  width 100%
  height 30px
  margin-top 20px
  border 1px solid
  text-transform uppercase
  cursor pointer
  &:hover
    opacity 0.8
  &:focus
    opacity 0.7
  &[type='submit']
    background-color #66CC66
    border-color #669966
  &[type='reset']
    background-color #e2e2e2
    border-color #999999
